.invisible-btn {
    background-color: transparent;
    display: block;
    width: 100%;
}

.invisible-btn:focus {
    box-shadow: 0 0 0 0 transparent;
}

.caret:after {
    display: inline-block;
    font: normal normal normal 0.7em FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f054";
    transform: rotate(90deg) ;
    transition: all linear 0.25s;
    margin-left: 5px;
 }   

[aria-expanded="false"] > .caret:after {
  transform: rotate(0deg) ;
}

.skillIcon {
    width: 4.5em;
    height: 4.5em;
    padding: 1em;
}

@media (min-width: 576px) {
    .skillIcon {
        width: 5em;
        height: 5em;
    } 
}

@media (min-width: 768px) {
    .skillIcon {
        width: 6em;
        height: 6em;
    } 
}

@media (min-width: 992px) {
    .skillIcon {
        width: 7em;
        height: 7em;
    } 
}

@media (min-width: 1200px) {
    .skillIcon {
        width: 7em;
        height: 7em;
    } 
}