.invisible-btn {
    background-color: transparent;
    display: block;
    width: 100%;
}

.invisible-btn:focus {
    box-shadow: 0 0 0 0 transparent;
}

.caret:after {
    display: inline-block;
    font: normal normal normal 0.7em FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f054";
    transform: rotate(90deg) ;
    transition: all linear 0.25s;
    margin-left: 5px;
 }   

[aria-expanded="false"] > .caret:after {
  transform: rotate(0deg) ;
}

.projectIcon {
    width: 1.2em;
    height: 1.2em;
}

.skillIcon {
    width: 4em;
    height: 4em;
    padding: 0.5em;
}

.skillButton {
    border: 1px solid rgba(0,0,0,.07);
    background-color: transparent;
}

@media (min-width: 374px) {
    .skillIcon {
        width: 4.5em;
        height: 4.5em;
        padding: 0.7em;
    } 
}

@media (min-width: 576px) {
    .skillIcon {
        width: 5em;
        height: 5em;
    } 
}

@media (min-width: 768px) {
    .skillIcon {
        width: 6em;
        height: 6em;
        padding: 1em;
    } 
}

@media (min-width: 992px) {
    .skillIcon {
        width: 6.5em;
        height: 6.5em;
    } 
}

@media (min-width: 1200px) {
    .skillIcon {
        width: 7em;
        height: 7em;
    } 
}

.profile-picture {
    border: 5px solid black;
    border-radius: 50%;
    width: 7em;
    height: 7em;
    overflow: hidden;
}

.bio-picture {
    float: left;
    border: 5px solid black;
    border-radius: 50%;
    width: 7em;
    height: 7em;
    overflow: hidden;
    margin-right: 7px;
}

.bio-table > td {
    overflow-wrap: anywhere;
}

@media (min-width: 768px) {
.modal-window {
    max-width: 90%;
}
}

.work-experience {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 75vh;
}

.project-list {
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 75vh;
}

.modal-content {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 95vh;
}

.iframe-wrapper {
    width: 100%;
    height: 60vh;
    overflow: hidden;
    text-align: left;
}

iframe {
    width: 100% !important;
    height: 100% !important;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    margin: auto;
    border: tra grey 1px;
    border-radius: 5px;
}